.projects {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.projects__header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.projects__header > .header__title {
  font-size: 40px;
  font-weight: 300;
  color: var(--a);
  margin-left: 0px;
}

.projects__carousel {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.projects__planet {
  position: absolute;
  display: block;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 1;
  transition: transform 2s ease;
}

/**
 *====================================================================================
 *                                       Desktop                                     *
 *====================================================================================
*/
@media screen and (min-width: 992px) {
  .projects {
    margin-bottom: 180px;
  }

  .projects__carousel {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects__planet:hover {
    transform: translateX(-50%) rotate(360deg);
  }
}
