* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0b132b;
  --accent: #5465ff;
  --card-text: #565656;
  --card-title: #151515;
  --normal-font: "Quicksand", sans-serif;
  --card-font: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--normal-font);
  background-color: var(--primary);
  color: white;
}

.container {
  margin-left: 6.25rem;
  position: relative;
}

.content {
  padding: 6.25rem;
}

.bg {
  padding: 0.19rem 0.44rem;
  background-color: var(--accent);
}

.title {
  font-size: 2.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8d97b5;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .container {
    margin-left: 0;
  }

  .content {
    padding: 4.38rem;
  }
}
